@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Luckiest+Guy&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(20, 12, 2);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

header {
    text-align: center;
}

#Venha {
    text-align: center;
    font-size: 50px;
    font-family: Luckiest Guy;
    color: rgb(255, 191, 191);
    border-top: 50%;
}

#header {
    justify-content: center;
    display: flex;
}

#folha {
    width: 6%;
}

#tit {
    font-family: Caesar Dressing;
    font-size: 60px;
    padding-left: 2%;
    color: rgb(255, 248, 237);
}

p {
    color: rgb(255, 248, 237);
    text-align: center;
}